/.project
**/Makefile
**/Makefile.in
/aclocal.m4
/autom4te.cache/
**/.deps/
**/.libs/
**/*.la
**/*.lai
**/*.lo
**/*.o
/debian/
/rapidsvn-0*/
**/*~
/compile
/config.guess
/config.log
/config.status
/config.sub
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/test-driver
/build-stamp
/configure-stamp
**/[uU]nicode [rR]elease/
**/[uU]nicode [dD]ebug/
/packages/win32/Output
*.swp
*.pyc
/Makefile.am.user
.dirstamp
