/*
 * ====================================================================
 * Copyright (c) 2002-2008 The RapidSvn Group.  All rights reserved.
 *
 * This software is licensed as described in the file LICENSE.txt,
 * which you should have received as part of this distribution.
 *
 * This software consists of voluntary contributions made by many
 * individuals.  For exact contribution history, see the revision
 * history and logs, available at http://rapidsvn.tigris.org/.
 * ====================================================================
 */

logo ICON    "res/rapidsvn.ico"

#include <winver.h>
#include "version.hpp"

#ifndef _DEBUG
#  define VERSION_FILEFLAGS 0x0L
#else  /* _DEBUG */
#  define VERSION_FILEFLAGS VS_FF_DEBUG
#endif /* _DEBUG */

VS_VERSION_INFO VERSIONINFO
 FILEVERSION RAPIDSVN_VER_MAJOR, RAPIDSVN_VER_MINOR, RAPIDSVN_VER_MICRO, RAPIDSVN_VER_PATCH
 PRODUCTVERSION RAPIDSVN_VER_MAJOR,RAPIDSVN_VER_MINOR,RAPIDSVN_VER_MICRO, 0
 FILEFLAGSMASK 0x3fL
 FILEFLAGS 0L
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "Comments", "\0"
            VALUE "CompanyName", "The RapidSvn Group\0"
            VALUE "FileDescription", "RapidSvn\0"
            VALUE "FileVersion", RAPIDSVN_VER_STR
            VALUE "ProductVersion", RAPIDSVN_VER_STR
            VALUE "InternalName", "RAPIDSVN\0"
            VALUE "LegalCopyright", "(c) Copyright 2002-2008 The RapidSvn Group\0"
            VALUE "LegalTrademarks", "\0"
            VALUE "OriginalFilename", "rapidsvn.exe\0"
            VALUE "PrivateBuild", "\0"
            VALUE "ProductName", "RapidSvn\0"
            VALUE "SpecialBuild", "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

#include "wx/msw/wx.rc"
