#define MINIMAL_QUIT      1
#define MINIMAL_ABOUT     102

logo               ICON    "res/svn.ico"

refresh              BITMAP    "res/bitmaps/refresh.bmp"
browse               BITMAP    "res/bitmaps/browse.bmp"
add                  BITMAP    "res/bitmaps/add.bmp"
delete               BITMAP    "res/bitmaps/delete.bmp"
update               BITMAP    "res/bitmaps/update.bmp"
commit               BITMAP    "res/bitmaps/commit.bmp"
revert               BITMAP    "res/bitmaps/revert.bmp"
info                 BITMAP    "res/bitmaps/info.bmp"
log                  BITMAP    "res/bitmaps/log.bmp"
resolve              BITMAP    "res/bitmaps/resolve.bmp"
folderup             BITMAP    "res/bitmaps/folderup.bmp"

#include "wx/msw/wx.rc"

